<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD_POSTGRESQL</title>
</head>
<body>

    <center>
         <h1>Insert record into  Postgresql</h1>
         <h3>Django Web Tutorial</h3>
         <hr/>
         <form method="POST">
             {% csrf_token %} 
         <table border="1">

             <tr>
                 <td>Employee Name</td>
                 <td><input type="text" placeholder="Enter emp name" name="empname"></td>
            
             </tr>
             <tr>
                <td>Email</td>
                <td><input type="text" placeholder="Enter Email" name="email"></td>
           
            </tr>
            <tr>
                <td>Occupation</td>
                <td><select name="occuapation">
                    <option select disabled=true>-- Select Occupation --</option>
                    <option>Programmer</option>
                    <option>HR</option>
                    <option>Sales Manager</option>



                </td>
           
            </tr>
            <tr>
                <td>Salary</td>
                <td><input type="text" placeholder="Enter Salary" name="salary"></td>
           
            </tr>
            <tr>
                <td>Gender</td>
                <td><input type="radio"  name="gender" value="M">Male | 
                    <input type="radio"  name="gender" value="F">FeMale</td>
           
            </tr>
            <tr>
                <td><input type="submit" value="Insert"></td>
                <td>
                    {% if messages %}
                    {% for mess in  messages %}
                    <b style="color: green;">{{mess}}</b>
                    
           
                    {% endfor %}
                    {% endif %}
                </td>

            </tr>
       
       
       
        

         </table>
         <a href="{% url 'showemp' %}">Home Page</a>
         
        </form>
    </center>
    
</body>
</html>